<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- <add id="Mconnectsolutions_Trackorder::trackorder_manager" title="Track Order" -->
		<!-- module="Mconnectsolutions_Trackorder" sortOrder="11" parent="Mconnectsolutions_General::general"  -->
		<!-- resource="Mconnectsolutions_Trackorder::trackorder_manager" /> -->
		<!-- <add id="Mconnectsolutions_Trackorder::trackorder_setting" title="Track Order Setting" module="Mconnectsolutions_Trackorder" sortOrder="13" parent="Mconnectsolutions_Trackorder::trackorder_manager" action="adminhtml/system_config/edit/section/mconnectsolutions_trackorder" resource="Mconnectsolutions_Trackorder::trackorder_setting"/> -->
    </menu>
</config>
